/* .crop-container .reactEasyCrop_Container div.reactEasyCrop_CropAreaRound {
  width: 150px !important;
  height: 150px !important;
} */
.cropstyle span.MuiSlider-root span.MuiSlider-rail {
  height: 6px;
  border-radius: 8px;
}

.cropstyle span.MuiSlider-root span.MuiSlider-thumb {
  color: black;
  top: 15px;
}

.cropstyle span.MuiSlider-root span.MuiSlider-track {
  height: 6px;
  border-radius: 8px;
}
.file-drop > .file-drop-target.file-drop-dragging-over-target {
  /* turn stuff orange when we are dragging over the target */
  color: #878377;
  box-shadow: 0 0 13px 3px #878377;
}
.file-drop {
  height: inherit;
}
.file-drop > .file-drop-target {
  height: inherit;
}
.MuiSlider-root {
  padding: 14px 0 !important;
}
@media (max-width: 767px) {
  .profile_popup .col-4,
  .profile_popup .col-8 {
    width: 100%;
    display: inline !important;
  }
  .profile_popup button.btn-black.btn.btn-primary {
    width: 100px;
    margin-top: 40px;
    clear: both;
    margin-left: calc(50% - 50px) !important;
  }
  .profile_popup .popup_grid {
    display: block !important;
    padding-top: 0 !important;
    margin-top: -20px;
  }
}
