.modal-content .modal-header .close {
  position: absolute !important;
  top: 1px !important;
  right: 1px !important;
  color: black !important;
  opacity: 1;
}
.modal-content .modal-header button span {
  position: absolute !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  font-size: 32px !important;
  background-color: black;
  border-radius: 50%;
  color: white;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #f0f0f0;
}

.CustomWidthNotification {
  width: 55%;
  max-width: none !important;
}

.CustomWidthPic {
  width: 45%;
  max-width: none !important;
}
